include includes/header.pug
		
		.author
			.author-inner
				p Email:&nbsp;
					a(class="link-std" href="mailto:dj.active.17@gmail.com") dj.active.17@gmail.com
			
			.author-inner
				p Facebook:&nbsp;
					a(class="link-std" href="https://www.facebook.com/thesiv95") @thesiv95

			.author-inner
				p Twitter:&nbsp;
					a(class="link-std" href="https://twitter.com/thesiv951") @thesiv951

			.author-inner
				p Github:&nbsp;
					a(class="link-std" href="https://github.com/thesiv95/") @thesiv95

			.author-inner
				p VK:&nbsp;
					a(class="link-std" href="https://vk.com/thesiv95") @thesiv95
			
			.author-inner
				p Данный проект является дипломной работой для НГТУ
			
			.author-inner
				p
					input(type="button" class="btn btn-std" value="На главную страницу" onclick="go_to('/')")

		include includes/footer.pug			