include includes/header.pug

		.help
			.help-inner
				p
					a(class="link-std" href="docs/parsing-ru.pdf" target="_blank") Раздел &quot;Обработка&quot;&nbsp;
					i(class="far fa-file-pdf")

			.help-inner
				p
					a(class="link-std" href="docs/settings-ru.pdf" target="_blank") Раздел &quot;Настройка&quot;&nbsp;
					i(class="far fa-file-pdf")
		
			.help-inner
				p Версия программы: 0.1 (beta)
				p Дата сборки: 01.2019
				p Лицензия:&nbsp;
					a(class="link-std" target="_blank" href="https://www.gnu.org/licenses/old-licenses/gpl-1.0.ru.html") GNU GPL v.1

			.help-inner
				p
					input(type="button" class="btn btn-std" value="На главную страницу" onclick="go_to('/')")

		include includes/footer.pug	