include includes/header.pug
		
	script!= 'moment.locale("ru");var currentTimestamp = moment().format("dddd, DD MMMM YYYY, hh:mm:ss a");'

		.filepicker
			input(class="filepicker-inner" type="file" name="filepicker" id="filepicker" onchange="toggleStartButton();")

		.state
			input(class="btn btn-std" type="button" onclick="go_to('/');" value="На главную страницу")
			input(class="btn btn-std" type="button" id="outputStart" value="Начать обработку" onclick="showOutput();" disabled)
			input(class="btn btn-std" type="button" id="outputExport" value="Экспортировать результат" onclick="exportLink();" disabled)

		div(class="output" style="display: none;")
			.output-title
				p#idsdetected Распознанная СОВ: %СОВнэйм%

			div(class="output-export-link" id="output-export-link")


			.output-diagram
				div(class="output-diagram-inner" id="output-diagram")
					div(class="output-diagram-inner output-diagram-inner__text")

					ul(class="output-diagram-list")
                        
					p(id="trafficTotalOutput")
			div(class="output-legend" id="outputLegend")



		div(class="output-date" id="output-date")
		include includes/footer.pug
