{% include '_includes/header.twig' %}
        
        <div class="settings">
            <div class="settings-inner">
                {{ settings_language }}:
                <form name="set_form" id="set_form" method="post">
                <select name="set_lang" id="set_lang">

                    {% if html_lang == "ru" %}
                    <option value="ru" selected="selected">Russian (Русский)</option>
                    {% else %}
                    <option value="ru">Russian (Русский)</option>
                    {% endif %}

                    {% if html_lang == "en" %}
                    <option value="en" selected="selected">English</option>
                    {% else %}
                    <option value="en">English</option>
                    {% endif %}

                    {% if html_lang == "he" %}
                    <option value="he" selected="selected">Hebrew (עברית)</option>
                    {% else %}
                    <option value="he">Hebrew (עברית)</option>
                    {% endif %}

                    {% if html_lang == "uk" %}
                    <option value="uk" selected="selected">Ukranian (Українська)</option>
                    {% else %}
                    <option value="uk">Ukranian (Українська)</option>
                    {% endif %}

                    {% if html_lang == "be" %}
                    <option value="be" selected="selected">Belarusian (Беларуская)</option>
                    {% else %}
                    <option value="be">Belarusian (Беларуская)</option>
                    {% endif %}
                    
                    
                </select>
            </div>
            <div class="settings-inner">
                {{ settings_theme }}:
                <select name="set_style" id="set_style">
                    {% if styles == 1 %}
                    <option value="1" selected="selected">White</option>
                    {% else %}
                    <option value="1">White</option>
                    {% endif %}
                    {% if styles == 2 %}
                    <option value="2" selected="selected">Black</option>
                    {% else %}
                    <option value="2">Black</option>
                    {% endif %}
                </select>
            </div>
            <div class="settings-inner">
                <input type="button" class="btn btn-std" value="{{ btn_apply_settings }}" onclick="apply();">
                <input type="button" class="btn btn-std" value="{{ btn_to_main_page }}" onclick="go_to('/');">
            </form>
            </div>
        </div>

        {% include '_includes/footer.twig' %}