
/* General */

@font-face {
    font-family: 'Stolzl-Regular';
    src: url('../fonts/Stolzl-Regular.eot');
    src: url('../fonts/Stolzl-Regular.woff') format('woff'),
        url('../fonts/Stolzl-Regular.ttf') format('truetype'),
        url('../fonts/Stolzl-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

.container {
    font-size: 24px;
    font-family: 'Stolzl-Regular', sans-serif;
}

.title {
    padding: 20px 30px;
    font-size: 150%;
}

.title__header {
    text-transform: uppercase;
}

.copyright {
    /* position: fixed; */
    bottom: 10px;
    text-align: center;
    margin-top: 30px;
}


/* Main page menu */

.menu {
    text-align: center;
    padding: 250px 30px;
}

.menu__item {
    cursor: pointer;
    width: 190px;
    height: 190px;
    background-color: #ffffff;
    display: inline-block;
    text-align: center;
    border: solid 2px #000000;
    padding: 18px;
    margin-right: 15px;
}

.menu__item:hover {
    background-color: #a7a7a78f;
}


.menu__item_logo {
    position: relative;
    top: 55px;
    color: #000000;
    font-size: 35px;
}


.menu__item_name {
    position: relative;
    top: 60px;
    text-transform: uppercase;
    color: #000000;
    font-size: 22px;
}

/* Parsing */

.filepicker {
    text-align: center;
    margin-bottom: 30px;
}

/* Data Output */

.output {
    padding: 30px;
    line-height: 25px;
}

.output-export-link {
    display: none;
    line-height: 33px;
    margin-bottom: 15px;
}


.output-diagram {
    display: inline-block;
}

/* .output-diagram-inner > svg {
    width: 500px;
    height: 300px;
} */

.output-diagram-inner > p {
    margin-left: 20px;
}

.output-diagram-inner__text {
    font-size: 85%;
}

.output-diagram-list {
    line-height: 27px;
    word-break: break-word; /* перенос строк */
}

.output-date {
    margin-top: 20px;
}

.item-good {
    color: #51c123;
}

.item-bad {
    color: #da4e0a;
}

.item-unknown {
    color: #489fca;
}

/* Help, Settings & Author blocks */

.author, .settings {
    padding: 0px 30px;
    line-height: 45px;
}

.help {
    padding: 0px 30px;
    line-height: 25px;
}

.settings-inner {
    margin-bottom: 15px;
}

/* Eula */


.eula {
    text-align: center;
}

.eula-inner {
    width: 1800px;
    height: 200px;
    resize: none;
    overflow-y: scroll;
    border: 2px solid #000000;
    border-radius: 7px;
    padding: 15px;
    font-family: monospace;
    font-size: 18px;
}

.state {
    margin-left: 5px;
}

/* 404 */

.notfoundpage-inner {
    margin-left: 30px;
}

