/* Inputs */

input:disabled {
    background-color: #d3bdbd60;
    border: none;
    color: #808080;
    text-decoration-line: line-through;
    cursor: not-allowed;
}

input:disabled:hover {
    background-color: #d3bdbd60;
    color: #808080;
}

input[type="file"] {
    font-family: inherit;
    font-size: 18px;
}

/* Checkboxes */

.checkmark {
    text-align: center;
}

.chkbox span:first-child {
    margin-left: 36px;
}

/* Message Boxes */

.msg {
    margin: 0 30px;
    margin-bottom: 5px;
    padding: 5px 30px;
}


.msg-warning {
    color: #c00c00;
    border: solid 2px #c00c00;
}

.msg-info {
    color: #351bf1;
    border: solid 2px #351bf1;
}

.msg-success {
    color: #0d7314;
    border: solid 2px #0d7314;
}


.msg-* > i {
    color: inherit; /* The icon is the same color */
}

.msg__save-success {
    display: none;
    margin-bottom: 20px;
}

/* Select */

select {
    font-family: inherit;
    padding: 10px;
    font-size: 14px;
    border: solid 2px#000000;
    border-radius: 7px;
}

/* Buttons */
.btn {
    font-family: inherit;
    padding: 15px;
    font-size: 14px;
    border-radius: 7px;
    cursor: pointer;
}

.btn-std {
    background-color: transparent;
    color: #000000;
    border: 2px solid #000000;
    text-decoration-line: none;
}

.btn-std:hover {
    background-color: #000000;
    color: #ffffff;
}

/* Link */

.link-std {
    bottom: 0;
    color: #000000;
    text-decoration: none;
}

.link-std:hover {
    text-decoration: underline;
}