{% include '_includes/header.twig' %}
    <div class="notfoundpage-inner">
        <input type="button" class="btn btn-std" value="{{ go_back }}" onclick="goPosition(-1);">
    </div>
    {% include '_includes/footer.twig' %}