        <div class="copyright">
            &copy; <a href="/author" class="link-std">SIV</a>, 2019
        </div>
    </div>
    <script src="js/jquery-1.6.2.min.js"></script>
    <script src="js/modernizr-custom.js"></script>
    <script src="js/script.js"></script>
</body>
</html>